* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$font: "Times New Roman" !important;
$colr: rgb(29, 191, 115);


//--------------------------------------Navbar Page----------------------------//
//Navbar Css Start//
.navbar {
  font-family: $font;
  background-color: white !important;
  padding: 10px 20px;

  .navbar-brand {
    color: #1dbf73;
    font-weight: 500;
    text-transform: uppercase;

    span {
      font-size: 10px;
      font-weight: 500;
      color: black;
    }
  }

  .navbar-nav {
    .nav-item {
      padding: 0 20px;

      .nav-link {
        font-size: 18px;
        font-weight: 500;
      }

      transition: 0.3s;
      @media only screen and (min-width: 990px) {
        :hover {
          color: #1dbf73 !important;
        }
      }
    }

    .dropdown {
      transition: 0.4s ease-in-out !important;

      &:hover .dropdown-menu {
        display: block !important;
      }

      #nouser {
        color: $colr;

        &:hover {
          color: red !important;
        }
      }

      #user {
        color: $colr;
      }
    }

  }

  .welcome-btn {
    background-color: $colr;
    padding: 5px 25px;
    color: white !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
}

//--------------------------------------Footer Page----------------------------//
//Footer Css
.footer {
  background-color: #2f2d2d;
  padding: 15px 0 5px 0;
  font-family: $font;

  .row {
    .col-md-6 {
      .social-part {
        .social-icons {
          padding-top: 10px;

          li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;

            i[class="fab fa-youtube fa-2x"] {
              color: red;
            }

            i[class="fab fa-instagram fa-2x"] {
              color: #fd964e;
            }

            i[class="fab fa-facebook fa-2x"] {
              color: #0F8EF2;
            }
          }
        }
      }

      .links-part {
        border-bottom: 0.5px solid #cbcbcb;

        .links {
          li {
            list-style: none;
            display: inline-block;
            padding: 10px 15px;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }

      .copyright-part {
        p {
          margin-top: 15px;
          color: white;
        }
      }
    }
  }
}


//--------------------------------------Login Page----------------------------//
//Login Form CSS
.data {
  padding: 25px 0;
  //height: 60vh;
  .data-form {
    font-family: $font;

    h1 {
      color: rgb(29, 191, 115);
    }

    #submit_btn {
      margin-top: 20px;
      background-color: rgb(29, 191, 115) !important;
      border: 1px solid transparent;
      padding: 10px 40px;
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control {
      border: 1px solid rgb(29, 191, 115) !important;
      margin-bottom: 15px;
      box-shadow: none !important;
    }

    .form-text {
      margin: 5px 0;
    }
  }

  .data-img-taker {
    @media only screen and (max-width: 990px) {
      display: none;
    }
  }
}

//-----------------------------------Index Page-----------------------------------------//

//Main Background


//Carousal Slider
.carousal-slider-images {
  //height: 300px;
  margin: 15px 0;
  font-family: $font;

  .row {
    .col-11 {
      padding: 20px;
      //min-height: 300px;
      border-radius: 10px;
      background-color: #3d3b3b;
      color: white;

      h1 {
        color: $colr;
        margin: 10px 0;
        padding: 10px 0;
      }

      .details-services {
        width: 50%;
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
          width: 90% !important;
        }
      }

      .carousel-control-prev, .carousel-control-next {
        @media only screen and (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}


//POPULAR DESTINATIONS

.popular {
  padding: 20px 0;
  margin: 10px 0 0 0;
  font-family: $font;
  background-color: #e8e7e7;

  .pop-head {
    margin-bottom: 20px;

    h4 {
      color: $colr;
      font-weight: 500;
      padding: 20px 0 0 8px;
      border-bottom: 2px solid $colr;
      border-radius: 15px;
    }
  }

  .pop-body {
    padding: 10px 0;

    .col-md-3 {
      border: 1px solid lightgray;
      margin: 8px 20px;
      padding: 0 0 15px 0;
      border-radius: 6px;
      background-color: white;

      .popular-details {
        padding: 10px;

        p {
          text-align: justify;
        }
      }
    }
  }
}

.main-background {
  position: relative;
  height: 500px !important;
  min-width: 100%;
  background-image: url("../images/newrail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font;

  .color-dull {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .main-background-text {
    padding: 200px 0 0 0;

    h1 {
      color: white;
      font-size: 50px;
    }
  }

}


//Contact Us
.contact-us {
  padding: 20px 0;
  font-family: $font;

  .contact-text {
    padding: 10px 0;
    margin: 10px 0;
    color: $colr;
    font-weight: 500;
    margin: 0 auto;
    width: 200px;

    h1 {
      border-bottom: 2px solid $colr;
      border-radius: 12px;
    }
  }

  .form-control {
    border: 1px solid rgb(29, 191, 115) !important;
    margin-bottom: 15px;
    box-shadow: none !important;
  }

  .form-text {
    margin: 5px 0;
  }

  .submit-btn {
    text-align: end;

    button {
      background-color: $colr;
      padding: 5px 40px;
      box-shadow: none !important;
      border: none !important;
      outline: none !important;
    }
  }

  .hide-part {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

//-----------------------------------Admin Page-----------------------------------------//
//Create Post
.create-post {
  padding: 20px 0;
  font-family: $font;

  .row {
    .col-md-6 {
      h1 {
        text-align: center;
        color: $colr;
      }

      .form-control {
        border: 1px solid rgb(29, 191, 115) !important;
        margin-bottom: 10px;
        box-shadow: none !important;
      }

      .form-text {
        margin: 5px 0;
      }

      .post-submit {
        text-align: end;

        button {
          background-color: $colr;
          padding: 5px 40px;
          box-shadow: none !important;
          border: none !important;
          outline: none !important;
        }
      }
    }

    .col-md {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}



//Booking


.book-now{
  font-family: $font;
  padding: 20px 0;
  .data-form {
    font-family: $font;

    h1 {
      color: rgb(29, 191, 115);
    }

    #submit_btn {
      margin-top: 20px;
      background-color: rgb(29, 191, 115) !important;
      border: 1px solid transparent;
      padding: 10px 40px;
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control {
      border: 1px solid rgb(29, 191, 115) !important;
      margin-bottom: 15px;
      box-shadow: none !important;
    }

    .form-text {
      margin: 5px 0;
    }
  }

}